---
import Section from "./Section.astro";
---

<main class="main">
    <Section title="Aperitivos"></Section>
    <Section title="Arepas"></Section>
    <!-- {data.aperitivos.nachos.map((i) => <li>{i.description}</li>)} -->
</main>

<style lang="scss">
    .main{
        margin-left: 20px;
        width: 100%;
    }
</style>