---
import { Image } from "astro:assets";
import Img1 from "../../assets/Main/Img1.png";
import Img2 from "../../assets/Main/Img2.png";
import ImgLoader from "../Loaders/ImgLoader.astro";
---

<article class="article">
    <div class="article__img-container">
        <div class="article__img-container__container">
            <ImgLoader />
            <Image
                src={Img1}
                alt={"TheCubeDay"}
                width={206}
                class={"article__img-container__container__img article__img-container__container__img--1"}
                quality={"high"}
                format="avif"
                aria-hidden={true}
            ></Image>
        </div>
        <div class="article__img-container__container">
            <ImgLoader />
            <Image
                src={Img2}
                alt={"TheCubeDay"}
                width={792}
                class={"article__img-container__container__img article__img-container__container__img--2"}
                quality={"high"}
                format="avif"
                aria-hidden={true}
            ></Image>
        </div>
    </div>
</article>

<style lang="scss">
    .img-container {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .article {
        // border: 2px solid rgb(255, 15, 243);
        display: flex;
        width: fit-content;

        &__img-container {
            width: fit-content;
            display: flex;
            justify-content: space-evenly;
            gap: 1vw;
            height: 40vh;

            &__container {
                border: 8px solid #e5c6a5;
                overflow: hidden;
                height: 100%;
                scale: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                view-timeline-name: --image;
                view-timeline-axis: inline;
                animation-timeline: --image;
                animation-name: fade-in;
                animation-range: entry 0% cover 40%;

                animation-fill-mode: both;

                @keyframes fade-in {
                    from {
                        scale: 25%;
                        opacity: 0;
                    }
                    to {
                        scale: 100%;
                        opacity: 1;
                    }
                }
                

                &__img {
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.5s;
                    overflow: hidden;

                    &:hover {
                        scale: 1.2;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .article {
            display: none;
        }
    }

    // @media only screen and (min-width: 1600px) {
    //     .article {
    //         &__img-container {
    //             gap: 1vw;
    //             width: fit-content;

    //             &__container {
    //                 height: 520px;

    //                 &__img {
    //                     height: 520px;

    //                     &--1 {
    //                         width: 300px;
    //                     }

    //                     &--2 {
    //                         width: 900px;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
</style>
