---
//Layout
import Layout from "../layouts/Layout.astro";
//Components
//Desktop
import Header from "../components/Header/Header.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import Main from "../components/Main/Main.astro";
import Mid from "../components/Mid/Mid.astro";
import Restaurants from "../components/Restaurants/Restaurants.astro";
import Aside from "../components/Aside/Aside.astro";

//Mobile 
import MNav from "../components/Mobile/Header/Nav.astro"
import MHeader from "../components/Mobile/Header/Header.astro";
import MMain from "../components/Mobile/Main/Main.astro";
//IMGs
---

<Layout title="TheCubeDay">
	<div class="desktop">
		<Header />
		<Main />
		<Mid></Mid>
		<Restaurants></Restaurants>
		<Aside></Aside>
	</div>
	<div class="pop-up">
		<div class="pop-up__content">
			<h1 class="pop-up__content__title">¡Oops! 🙃</h1>
			<p class="pop-up__content__txt">Esta web está diseñada para ser disfrutada en orientación vertical. Gira tu dispositivo para continuar navegando. 😊</p>
		</div>
	</div>
	<ResponsiveNav></ResponsiveNav>
	<div class="mobile">
		<MNav></MNav>
		<MHeader></MHeader>
		<MMain></MMain>
	</div>
</Layout>

<style lang="scss">
	.desktop{
		font-family: "Poppins", sans-serif;
		display: flex;
	}

	.mobile{
		display: none;
	}

	.pop-up{
		display: none;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;

		&__content{
			display: flex;
			flex-direction: column;
			width: 60%;
			background-color: #603B2A;
			color: #fff;
			padding: 20px;
			border-radius: 15px;
		}
	}

	@media only screen and (max-width: 480px){
		.desktop{
			display: none;
		}

		.mobile{
			width: fit-content;
			display: block;
		}

		a{
			color: #000;
			&:visited {
				color: #000;
			}
		}
	}

	@media only screen and (min-width: 481px) and (max-width: 900px){
		.desktop{
			height: 90vh;
		}
	}

	@media screen and (orientation: landscape) and (max-width: 900px){
		.desktop{
			display: none;
		}

		.pop-up{
			display: flex;
		}
	}
</style>