---
import Layout from "../layouts/MenuLayout.astro";
import Header from "../components/Menu/Header/Header.astro";
import Main from "../components/Menu/Main/Main.astro";
---

<Layout title="La Carta | TheCubeWorld">
    <Header></Header>
    <Main></Main>
</Layout>