---
import Img from "../../../assets/Main/interactive.png";
---

<aside class="container">
    <img src={Img.src} class="container__img">
    <div class="container__content">
        <h1 class="container__content__title">MÁS DE <br> <span class="container__content__title--bold">THE CUBE</span> <br> AQUÍ</h1>
        <ul class="container__content__list-container">
            <li class="container__content__list-container__items">
                <i class="fa-brands fa-instagram"></i> 
                <p class="container__content__list-container__items__txt">
                    @thecubeday
                </p>
            </li>
            <li class="container__content__list-container__items">
                <i class="fa-brands fa-square-facebook"></i> 
                <p class="container__content__list-container__items__txt">
                    thecubeday
                </p>
            </li>
        </ul>
    </div>
</aside>

<style lang="scss">
    .container{
        width: 100vw;

        &__img{
            width: 170%;
            position: relative;
            transform: rotate(180deg) translateY(60px) translateX(18.5%);
            z-index: -1;
        }

        &__content{
            margin-left: 40px;

            &__title{
                font-family: 'Bebas Neue';
                font-weight: 100;
                font-size: 66px;
                line-height: 66px;

                &--bold{
                    font-family: 'Poppins';
                    line-height: 0px;
                    font-weight: 900;
                }
            }

            &__list-container {
                list-style-type: none;

                &__items {
                    display: flex;
                    font-size: 41px;
                    align-items: center;
                    gap: 20px;

                    &__txt {
                        font-family: "Antonio Variable", sans-serif;
                    }
                }
            }
        }
    }
</style>